/server/.phpunit.cache
/server/bootstrap/ssr
/server/node_modules
/server/public/build
/server/public/fonts-manifest.dev.json
./server//public/hot
./server//public/storage
./server//storage/*.key
./server//storage/pail
/resources/js/actions
/resources/js/routes
/server/resources/js/wayfinder
/server/vendor
/server/.DS_Store
/server/.env
/server/.env.backup
/server/.env.production
/server/.phpactor.json
/server/.phpunit.result.cache
/server/Homestead.json
/server/Homestead.yaml
/server/npm-debug.log
/server/yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
ssl/
certbot/
docker/
nginx/